[2015-01-17 19:10] everzet opened #1 "Use name convention for extension registration"
In Behat 3 you don't need to provide a full extension classname when you're registering extensions, you can use a shorter version and Behat will guess the rest (if you follow naming convention, of course):
https://github.com/Behat/Behat/blob/master/src/Behat/Testwork/ServiceContainer/ExtensionManager.php#L116-L129

Because of that line, if your extension class name looks like `{YourOrg}\{YourName}

[2015-01-17 19:21] everzet opened #2 "Provide context argument resolver in addition to *AwareContext"
`KernelAwareContext` injects entire application into your context, which in most cases is not what you want. You'd usually want couple of services injected into the context constructor instead of the entire container.

Behat 3 has the extension point called context `ArgumentResolver`:
https://github.com/Behat/Behat/blob/master/src/Behat/Behat/Context/Argument/ArgumentResolver.php

By implementing

[2015-01-17 19:31] #1 closed

[2015-01-17 19:32] JeffreyWay commented on #1
Excellent. Thanks for the tip! Updated.

[2015-01-17 19:41] JeffreyWay commented on #2
Cool. Will look into implementing this very soon.

[2015-01-18 17:10] deemeetar opened #3 "Call to undefined method Selenium2Driver::reboot"
[code]

I need selenium for javascript testing, and this is an error I'm getting.

Also, I have this check:
[code]

And Auth::check() returns false, although I'm logged in (which i can see and test in the firefox window that selenium opens).

Feature:
[code]

FeatureContext.php
[code]

behat.yml
[code]

[2015-01-18 18:34] #3 closed

[2015-01-18 18:35] JeffreyWay commented on #3
I'm not sure if this commit fixes it.

For Selenium tests, it's not going to read your .env.behat file, unless you manually set it to (maybe in bootstrap/app.php).

This extension is specifically for non-JS tests.

[2015-01-19 09:31] rogierverbrugge opened #4 "Method put nog working"
Hi Jeff,

I've noticed that all my forms that post with the _method PUT are handled as normal POST requests and won't hit $router->put. I've got the same tests setup with Codeception and thats working just fine.

Do you have any idea how this is possible?

Kind regards,

Rogier

[2015-01-19 13:47] JeffreyWay commented on #4
Hmm - that's really weird.

Tough to say, without seeing your form code and the related route registration.

[2015-01-22 13:37] leitom opened #8 "Database transactions"
I looks like database transactions don't work when using mysql.
I dont know if this is because of laravel 5 latest changes or not.

[2015-01-22 21:18] vrgenl commented on #4
Ill try to explain my setup.

routes.php

[code]

Blade template
`{!! Form::open(['route' => 'retrieve.update', 'method' => 'put']) !!}`

printLastResponse() output:

[code]

If I run the test and I don't fill in the proper fields (for example password_confirmation) than I get the response from the retrieve.store.

[2015-01-27 20:15] zmorris opened #10 "Could not find package laracasts/behat-laravel-extension"
I ran the command according to the readme but it couldn't find behat-laravel-extension.  I am new to Laravel so this could easily be a problem existing between keyboard and chair.  Mac OS 10.10.1 Yosemite, php 5.5.14.

`composer require behat/behat behat/mink behat/mink-extension laracasts/behat-laravel-extension --dev`

    Using version ~3.0 for behat/behat
    Using version ~1.6 for behat/mink

[2015-01-27 20:42] zmorris commented on #10
Ok updating the composer.json at the root level of my project from:

[code]

to:

[code]

Fixed it.  I don't know if leaving the composer.json files at these other locations as "stable" will hurt anything:

[code]

My original setup command was:

[code]

[2015-01-27 23:54] zmorris opened #11 "[RuntimeException] Could not locate the path to the Laravel bootstrap file."
I followed the instructions here:

http://sangatpedas.com/20140219/installing-laravel-osx-mavericks/

Then installed Behat (making sure to update composer.json with "minimum-stability": "dev"):

https://github.com/laracasts/Behat-Laravel-Extension

    composer require behat/behat behat/mink behat/mink-extension laracasts/behat-laravel-extension --dev

I created behat.yml at root level of project:

[2015-01-27 23:57] zmorris commented on #11
Sorry I forgot to include the full trace:

vendor/bin/behat -v

[code]

[2015-02-02 19:15] jesseschutt commented on #4
I've bumped into a similar scenario with `delete`. I get a MethodNotAllowedException when I printLastResponse().

[2015-02-02 19:26] jschutt commented on #4
@rogierverbrugge Have you figured out any solution?

[2015-02-02 23:36] tmalecki opened #12 "Modifying authenticated user and persistence of the flash messages"
While working with Behat and the Laravel Extension I have encountered the following issues:

1. After we modify the authenticated user the changes are not visible until the user relogs. That’s probably due to requests, which are made using the same instance of the application. If the user is signed in, it's stored in the memory to the end of a scenario.

  https://github.com/laravel/framework/blob

[2015-02-03 01:17] zhiyand commented on #4
Same issue, `delete` results in `MethodNotAllowedException`

[2015-02-03 05:39] gxela opened #13 "backwards compatibility with Laravel 4"
Why was this package not made backwards compatible with Laravel 4? Now anyone that wants to use it has to switch there project to version 5

[2015-02-04 09:04] #13 closed

[2015-02-04 15:25] jesseschutt commented on #4
@JeffreyWay  - First off, thanks for putting this extension together! It's much appreciated.

Now that Laravel 5 is in the wild, is there a chance you could look in to this issue? Any forms that run anything other than POST do what @rogierverbrugge posted at the beginning of this issue.

Thank you!

[2015-02-04 17:16] RomainLanz commented on #10
@JeffreyWay Do you know when you are going to change that?

[2015-02-04 19:11] vrgenl commented on #4
So far I haven't found a solution. I'll try to walk through the package, maybe I will find something.

[2015-02-07 15:00] duxet opened #15 "Session store not set on request."
[code]

I have no idea what is going on. Request seems to lose its session in some moment. I am using L5, maybe that's cause of that problem?

[2015-02-08 15:33] haoyuguo opened #16 "Installation issue with official release of Laravel 5"
I got the following issue while installing laracasts/behat-laravel-extension with the newly released Laravel 5.

I was trying to follow this laracast:

https://laracasts.com/lessons/laravel-5-and-behat-bffs

And I got the some prophecy version error.

I was able to install behat/behat, behat/mink, behat/mink-extension first, but when trying laracasts/behat-laravel-extension after that, the same er

[2015-02-09 00:29] ehkasper commented on #10
+1

[2015-02-09 01:24] rmarliere opened #17 "Use with Laravel 4"
Can I use this with Laravel 4?
I'm getting the error [RuntimeException] Could not locate the path to the Laravel bootstrap file.

Is there any way to solve this?

[2015-02-09 11:38] #15 closed

[2015-02-09 15:54] laracasts commented on #17
This extension is for Laravel 5.

[2015-02-09 15:54] #17 closed

[2015-02-09 17:16] MaxTwentythree opened #18 "Use for Package Development"
Hi,
I'm trying to use the Behat-Laravel-Extension for Package Development (Laravel 5),
but when I try to run behat I'm receiving the error
"Could not locate the path to the Laravel bootstrap file."
(because the bootstrap file is searched in my packages folder, where it can't be found of course).

I also tried to require-dev laravel in my package, but that crashed the whole app ("Cannot redeclare c

[2015-02-12 11:28] svrnm commented on #4
I had the same issue and I found a (first) solution: If you have a look at the public/index.php you will find the following:

[code]

This method calls `enableHttpMethodParameterOverride`, which later will take care of changing the Method to "PUT". I fixed this by changing `LaravelBooter::boot()`:

[code]

[2015-02-12 13:56] fntneves commented on #10
Same here...

[2015-02-13 13:09] jonlambert commented on #10
Yep me too!

[2015-02-15 18:09] abbajbryant commented on #10
Seems for now you can add it to your composer.json manually - the stability requirements seem to have changed.

in composer.json: "laracasts/behat-laravel-extension": "dev-master"

[2015-02-15 20:14] RomainLanz commented on #16
Update your composer's version.

[code]

[2015-02-17 20:32] mikeerickson opened #19 "Does ANYBODY have this working with L5, PHPUnit"
I am pulling what hair I have left trying to get this working.

I can create a fresh L5 installation and get Behat working with this extension, but PHPUnit wont work.  To fix PHPUnit, I must first call 'composer dump-autoload' which makes PHPUnit happy.

BUT, now Behat wont work and I cant get it working after that, receiving the infamous :

<code>
exception 'Symfony\Component\Debug\Exception\Fata

[2015-02-17 20:35] mikeerickson commented on #19
More food for thought...

If I execute Composer Update, then Behat works but PHPUnit does not work

If I then execute 'composer dump-autoload' PHPUnit will work and Behat is broken

It is a continuous cycle which I am totally baffled by

[2015-02-17 20:47] mikeerickson commented on #19
In a nutshell, here is what happens

http://d.pr/i/1fC2X

Now, if I were to issue a `composer dump-autoload` at this point, PHPUnit will again work but Behat breaks.

Furthermore, the actual `bootstrap/autoload.php` is identical?!?  So what else does this command do which is different between that which is performed at end of `composer update` vs manual execution of `composer dump-autoload`

[2015-02-17 21:00] mikeerickson commented on #19
Found the cure!!  While I didn't think xDebug was active, well it was (I know, I know)   Changing this simple setting in the php.ini file cured it (as outlined in the FAQ)

[xdebug]
xdebug.max_nesting_level = 200

[2015-02-17 21:00] #19 closed

[2015-02-18 21:14] acaron commented on #4
+1 for @svrnm your solution is working! Indeed, Behat was probably trying to call a POST instead of a PUT since it was not yet changed. You should do a pull request!

[2015-02-22 14:24] rudowastaken commented on #4
I can confirm. @svrnm provided a working solution.

[2015-02-23 02:46] marcusmoore commented on #10
@zmorris I THINK it would be best to keep `"preferred-install": "stable"` in your composer file and then require `dev-master` for this package specifically.

[2015-02-23 17:00] RomainLanz commented on #4
Thank you @svrnm, working fine.

[2015-02-27 11:49] cve commented on #13
+

[2015-02-27 11:50] cve commented on #17
Is there any similar extension for L4? We have a huge project based on L4, and we want to switch to L5 in the future, but now we want to use Behat with L4, any guidelines for that use case?

[2015-02-28 11:49] jazerix opened #22 "Mink base_url param causes fail"
When using the base_url param in the behat.yml file, every scenario after the first one fails. This is caused because the laracasts extension isn't rebooting with the baseUrl, like it is when it starts up the first time.

https://github.com/Behat/MinkExtension/issues/196

I tried fixing it myself, with no luck :disappointed:

[2015-03-01 19:48] RomainLanz commented on #4
@rogierverbrugge This is fixed by the PR above, you can close this issue. :)

[2015-03-02 18:37] fer-ri commented on #10
I think its all because you run composer require vendor/package without define any version, so default composer will try to look stable version ..

[2015-03-04 04:25] hackel opened #23 "Call to undefined method FeatureContext::getSession() if not extending MinkContext"
The documentation makes it sound as if extending Behat\MinkExtension\Context\MinkContext is optional, however without it, I get this error:

[code]

Of course I do plan to use MinkContext, I just thought I would point out this current discrepancy.

[2015-03-05 17:34] cve commented on #8
I also see that in my local environment with mysql the db transactions not work... :-/

[2015-03-09 14:07] #4 closed

[2015-03-11 05:44] sdeering opened #26 "failed to open stream: Permission denied"
[code]

This error appears when I try to run:

[code]

Some Info:
- Windows 7
- Command Prompt
- Laravel 5
- I've tried changing App folder permissions to 0755
- I've tried running CMD as administrator

Any ideas?
Could it be the require paths in behat need OS specific separators?

[2015-03-11 06:43] sdeering commented on #26
I've found the issue and it's working now.

I reverted the behat.yml to original.

[code]

[2015-03-11 06:43] #26 closed

[2015-03-11 07:19] sdeering opened #27 "The @javascript tag cannot be used without enabling a javascript session"
In this tutorial https://laracasts.com/series/the-lifecycle-of-a-new-feature/episodes/2 it says to add @Javascript to the feature in order to see it perform the test live in the browser. But this error appears:

![image](https://cloud.githubusercontent.com/assets/1787454/6591948/d3ce93a4-c812-11e4-92ae-f67d1b8c34c5.png)

Any ideas?

[2015-03-13 20:30] revati commented on #23
The same here

[2015-03-18 16:53] Pedramrn opened #28 "Dependency Injection"
Hi,
Is it possible to use dependency injection in Context classes?
Phpstorm's behat integration can't find facades and complaints about them.
I have used constructor parameters with **behat.yml** file but looks like it just works with plains strings.

[2015-03-27 19:38] doug7410 commented on #27
I am dealing with the same problem. Would love some help.

[2015-03-30 02:06] doug7410 commented on #8
I'm finding that when I run test without javascript , my test sqlite database gets used, and transactions work. When I run a test with javascript, the development database gets used and the transactions dont work. It seems like when running test with javascript the `.env` file is used instead of the `.env.behat` file. Here is my `behat.yml`

[code]

I wonder if this is related.

[2015-04-10 05:18] jossemarGT commented on #23
Sorry to bother but... Same here

[2015-04-10 05:29] jossemarGT commented on #23
Nvm... I found the answer right in the [comments](https://laracasts.com/lessons/laravel-5-and-behat-bffs#comment-1813612970) "Figured it out. Forgot to extend MinkContext."

Cheers :octocat:

[2015-04-10 18:45] rossedman commented on #28
@Pedramrn to have PHPStorm recognize and help you with classes you can use [Laravel IDE Helper](https://github.com/barryvdh/laravel-ide-helper). I don't know if that solves your problem. I know PHPStorm has recognized parameters for me.

[2015-04-10 18:47] rossedman commented on #10
@marcusmoore88 :+1: I agree

[2015-04-13 16:47] bcat-eu commented on #12
+1, at the moment Mink reload() Method is a little confusing because of that (flash messages, filled in form fields etc). As a workaround a "true" reload can be implemented in a context class or a trait like this:

[code]

[2015-04-21 19:29] otherjohn opened #30 "Lumen Compatibility - Call to undefined method Laravel\Lumen\Application::loadEnvironmentFrom()"
I was hoping this extension would work out-of-box for lumen, but I get
PHP Fatal error:  Call to undefined method Laravel\Lumen\Application::loadEnvironmentFrom() in vendor/laracasts/behat-laravel-extension/src/ServiceContainer/LaravelBooter.php on line 70
when I run "behat" in console.

[2015-04-28 17:28] bcat-eu opened #31 "Model events are only triggered once"
If I have a feature with a single scenario that triggers model events (saving) everything is good.

If I run this feature with other tests or have few scenarios in the same feature - only the first one triggers the model event, rest are ignored.

Example (always works if only this feature file is called):

    Scenario: paid invoice does have enough payments
        Given I have a "paid" invoice

[2015-05-04 13:04] sakalys commented on #31
Had a similar issue. My problem was that I had multiple model files for the same resource. All of those files extended the BaseMyResourceModel class. I thought that `BaseMyResourceModel::created()` would trigger for all of the descendant models would inherit that event handler. But that is not the case. I had to pick out all the models...

[code]

[2015-05-04 13:23] bcat-eu commented on #31
Not my case, I have simple Models, might have something to do with the way Events are triggered (I use separate Observer class)

Model file:

[code]

and then in ModelObserver.php

[code]

[2015-05-08 21:18] cmgmyr commented on #30
same here

[2015-05-19 14:14] martinlindhe commented on #15
@duxet: i am hitting the same issue. how did you resolve this?

[2015-05-19 14:25] duxet commented on #15
I just removed Input::old() from my views. I opened [issue](https://github.com/laravel/framework/issues/7328), but @GrahamCampbell said it's a problem with this extension - even though it happens without this extension.

[2015-05-19 15:05] martinlindhe commented on #15
@duxet: ah, i see. my issue is also because i use old() in views. did you find a workaround for that, or did you have to nuke that feature from your views?

[2015-05-19 15:08] duxet commented on #15
@martinlindhe i am now not using old(), if you need to then open a new issue and mention this thread

[2015-06-05 04:25] huuuk commented on #8
Has anyone solved this problem?

[2015-06-06 02:01] shaneferguson opened #33 "Mailtrap trait error with Guzzle 6"
For the past hour or so Ive been wrestling with why my previously working tests were all of a sudden failing. I hadn't realised that during a previous composer update Guzzle had upgrade to version 6. Using 6 i get the following error when trying to use the Mailtrap trait...

cURL error 3: <url> malformed (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) (GuzzleHttp\Exception\RequestException

[2015-06-25 17:54] webkenny opened #35 "Exception: Class could not be loaded"
I've watched the video on Laracasts, tried the code listed in `README` for this extension, and played around with various different incantations of including the extensions but nothing works. No matter what I do it always comes up with the below error when I run `behat`:

[code]

First attempt from my `behat.yml` based on the video:

[code]

Second attempt, based on discovering the class name had

[2015-06-25 18:01] webkenny commented on #35
The solution to this for some ungodly reason is not to use a global installation of Behat but, instead, to specifically call `/vendor/bin/behat` in your project root. Seems to be a new issue with the `3.x` branch. If anyone actually knows why that is, feel free to post additional info. Hopefully this helps someone else and spares them 2 hours. :+1:

[2015-06-26 14:07] koenvu commented on #8
Perhaps the problem is that when using the Laravel session, it emulates requests without querying the actual webserver, and keeps the database transaction intact. When using javascript (using selenium), it goes to the server (that is, the server running a development, not behat environment) and does an actual web request, causing non-committed database transactions to be missing / rolled back in s

[2015-07-01 19:38] #35 closed

[2015-07-15 17:00] mhosks opened #36 "Behat returns the wrong view in Laravel 5.1"
I'm unsure if this issue is caused by my own error, Behat itself, or this extension.  However, I've seen some others posting about this as well so I thought I'd share.

Using this scenario:

Scenario: Home Page
    Given I am on the homepage
    Then I should see "Laravel 5"

The view I'm using is the default Laravel 5.1 welcome view and does not contain Yahoo! as demonstrated in the response belo

[2015-07-22 16:31] fabioi opened #37 "Laravel 5.1.4 + Behat + Mailtrap: getting GuzzleHttp\Exception\RequestException"
I am getting  "cURL error 3: <url> malformed (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) (GuzzleHttp\Exception\RequestException)"  but It seems to me that everything is configured properly.

Using:
Laravel 5.1.4
 "guzzlehttp/guzzle": "~5.3|~6.0",
"behat/behat": "^3.0",
 "laracasts/behat-laravel-extension": "^1.0"

[2015-07-24 16:24] arthurkirkosa commented on #37
Guzzle 5 fixes the issue

[2015-08-04 01:34] jasonlfunk commented on #30
+1

[2015-08-04 03:43] ameech commented on #36
Hey, I just ran into this issue as well. I was able to fix this by setting a valid APP_KEY in my .env.behat file.

[2015-08-04 06:18] mhosks commented on #36
Yeah, that did it.  Thanks.

[2015-08-04 06:18] #36 closed

[2015-08-13 13:34] artaaa commented on #8
We were experiencing similar issues as described by @koenvu when running tests with javascript (zombie-mink-driver). For now we managed to work around this by setting [transaction isolation level](https://dev.mysql.com/doc/refman/5.0/en/set-transaction.html) for our MySQL database, before running the suite:

[code]

[2015-08-14 12:33] jakubhomoly commented on #33
Fixed in my pull request below

[2015-08-17 15:37] marvinosswald commented on #30
+1

[2015-08-19 12:57] lukeberry99 commented on #30
+1

[2015-08-19 13:13] lukeberry99 commented on #30
Here is an adaption of this package for Lumen https://github.com/arisro/behat-lumen-extension

[2015-09-06 03:52] gregjkal commented on #33
Thanks @shaneferguson. Was having this problem as well. Glad you shared the workaround, and hope Jeffrey has time to look into this :)

[2015-09-17 14:58] pmartelletti commented on #8
yep, this is definetly an issue.

@artaaa you use before suite because your test requires it, right? But If I need the database to be clean on every test, it would work the same?

@JeffreyWay any plans to work on this?

[2015-09-22 21:51] mrliptontea commented on #8
I'm struggling with the same problem, in Zend Framework.

The correct solution is one provided by @artaaa :+1: Also, you might be interested in [savepoints](http://dev.mysql.com/doc/refman/5.6/en/savepoint.html).

This is because normally transactions are isolated to the current connection, and when you start your tests with Selenium or other browser driver, your application is executed by a web s

[2015-10-07 23:00] punkpette commented on #27
I had that issue i needed to specify a javascript_session on behat.yml
however if i try to use selenium2 it doesn't seem to work

[2015-11-13 08:14] coquer commented on #10
+1

[2015-12-23 01:03] andizzle commented on #8
By any chance you are making a call to a url? e.g http://localhost:8888?

I'm adding `Illuminate\Foundation\Testing\ApplicationTrait` to FeatureConext and making calls like normal laravel test: `$this->call($httpMethod, $this->resource, json_decode($payload->getRaw(), true), [], [], $this->header);`

This way the transaction and rollback happens as expected.

You need to make sure that the request

[2016-01-03 13:12] hbea2014 opened #41 "Composer: cannot install Laravel-Behat-Extension on Laravel 5.2"
I'm following [the tutorial about Behat and BDD](https://laracasts.com/lessons/laravel-5-and-behat-bffs) but I ran into problems with behat, mink and mink-extension.

Creating the new project with (`composer create-project laravel/laravel behat-learning`) worked for me.

Then I ran into errors with behat, mink and mink-extension and the only solution I found was to use their dev-master branches (`

[2016-01-03 22:05] gandra commented on #41
I have the same problem.

[2016-01-05 05:58] ikari7789 commented on #41
`behat/mink-browserkit-driver` will either need to have a new tag created that supports newer symfony components, or the hard dependency for `behat/mink-browserkit-driver` will need to be made optional in this package.

I've made a temporary fix in my own repository that you're welcome to try and use. If you add the following to your composer.json, it should fix the problem. The tags are made usin

[2016-01-05 20:00] gandra commented on #41
@ikari7789,
your fix works for me. Thanks!

p.s.
If anybody has a issue with  API rate limit check this:
http://tutorials.scrisoft.com/solved-enter-your-github-credentials-to-go-over-the-api-rate-limit/

[2016-03-04 03:35] Dylan-Buth commented on #11
I'm also experiencing this. Did you have get it resolved?

[2016-03-23 02:33] ikari7789 commented on #41
This no longer seems to be an issue with the latest release of the mink browser kit driver.
https://github.com/minkphp/MinkBrowserKitDriver/tree/v1.3.2

[2016-04-20 16:33] bizmate opened #42 "Set "show_cmd" parameter in behat.yml ... basic setup does not work"
Hi all

I am currently stuck while running behat with laravel. The error is happening on ->visit function.

Mink maybe does not get some default option to be able to open the page without a custom driver. These set up always used to work and I am wondering what configuration to use since I would like to use a built in way just like laravel extension promises, without selenium goutte etc.

When i r

[2016-06-19 16:17] zagorkakomljanovic opened #44 "Mink instance has not been set on Mink context class. Have you enabled the Mink Extension?"
**Please help!!!**
I want to use **Behat with Laravel** and I have been following these steps here
https://semaphoreci.com/community/tutorials/getting-started-with-bdd-in-laravel
but in my own laravel project not the default "Laravel 5".

When I run

I get **error** :

    Feature:
      In order to prove that Behat works as intended
      We want to test the home page for a phrase
      Scenario:

[2016-06-19 17:00] #44 closed

[2016-07-01 14:26] JeffreyWay opened #45 "Who Wants to Manage This Extension?"
Hey, everyone -

I don't have the time or desire to manage this repo anymore. Who feels qualified to take over ownership?

[2016-07-21 17:30] karlomikus commented on #45
I'd like to give it a shot

[2016-08-18 11:01] alnutile commented on #45
We are using it extensively, as a team, on a number of projects so I can help as well. Basically we moved to a BDD workflow.

[2016-08-20 01:20] alnutile commented on #11
@zmorris any luck on this? I think my folder layput is the same as yours

[code]

But my behat.yml files does not mention the parh.

[code]

We setup behat this way on a handful of projects.

Also what files are setup for you already when you are running this command? For example is there a FeatureContext file in features/bootstrap folder.

This one may not matter and when i fet back from holiday

[2016-08-20 01:35] alnutile commented on #8
I will try and recreate this issue in a week or so when i get back from holiday but just want to rekindle these older issues to see if they kept you from sticking with behat or if there is a solution you would like to share.

As a note @koenvu noted when using @javascript it will go through Selenium and therefore the .env file of your app is the file setting up the databasse to be used eg "DB_DATA

[2016-08-20 01:39] alnutile commented on #16
@haoyuguo going to close this feel free to reopen if needed.

[2016-08-20 01:39] #16 closed

[2016-08-20 01:42] alnutile commented on #18
@MaxTwentythree this might be solved with setting an alternative behat profile in your behat.yml  that overwrites the default profiles path.

[2016-08-20 01:47] alnutile commented on #22
I will look in a bit but in the mean time if you set your constructor as such

[code]

And set that as needed in the .env file.

Kludgy but it works well.

But I will see about doing it in the extension.

[2016-08-20 02:05] alnutile commented on #23
Updating docs to make this more clear. https://github.com/laracasts/Behat-Laravel-Extension/compare/master...alnutile-feature-context?quick_pull=1

[2016-08-20 02:11] alnutile commented on #27
@sdeering i know it is a year later. But just incase someone else sees this and so the ticket can be closed what solution worked for you?

For my my behat.yml set to

[code]

And including in composer require-dev

[code]

Will allow me fo use the @javascript tag.

[2016-08-20 02:15] alnutile commented on #28
@Pedramrn did you figure this out?

Do You mean just in the constructor of the context?  Issue #2 might talk about this a bit. Some I just use App::make to instatiane the class for me when i need it.

[2016-08-20 02:16] alnutile commented on #30
Will try and merge this in shortly

[2016-08-20 06:15] MRezaNasirloo commented on #28
@alnutile That was a long time ago, Sorry I don't remember.

[2016-08-20 10:54] alnutile commented on #28
:)

[2016-08-23 20:43] alnutile opened #48 "Setup CodeShip for Testing as changes"
are made on the repo including a full install test to make sure all works as expected.

[2016-08-23 21:07] alnutile commented on #45
@karlomikus I sent you an email to talk a bit more about working together on this. I will leave this open though if others want to volunteer as I have started to be the manager of this package.

I am heading through all the old tickets first to see if solutions where found and or are still needed and work my way to most recent. On holiday this week but will focus more on this after that.

Overall

[2016-08-29 08:07] karlomikus commented on #42
If you want to use showLastResponse method you need to setup browser emulation (ex. selenium), otherwise you can use printLastResponse method which outputs response in console.

[2016-08-30 20:44] alnutile commented on #42
@bizmate did you solve this? Honestly I think it is in your behat.yml settings.  Here is are two working behat.yml examples

https://github.com/alnutile/codeship-behat/blob/master/behat.yml

https://github.com/alnutile/recipes/blob/master/behat.yml

[2016-08-30 20:47] alnutile commented on #42
@karlomikus hey just noticed your follow up here too thanks!

[2016-08-30 20:48] alnutile commented on #41
going to close this feel free to reopen if needed.

[2016-08-30 20:48] #41 closed

[2016-08-30 20:49] alnutile commented on #37
going to close this feel free to reopen if needed.

[2016-08-30 20:49] #37 closed

[2016-08-30 20:49] alnutile commented on #33
going to close this feel free to reopen if needed.

[2016-08-30 20:49] #33 closed

[2016-08-30 20:54] alnutile commented on #31
@bcat-eu did you find a solution to this? If not I will look into it.

[2016-08-31 00:36] alnutile opened #49 "Finish adding Mockery Trait"
This will help with Events and just basic usage as I write about here https://alfrednutile.info/posts/190

[2016-08-31 08:20] bcat-eu commented on #31
@alnutile it started working after update to Laravel 5.2, I think the project had 5.0 at the time of the issue so it was resolved somewhere in between without much change on the behat extension's side. You can have a look if it works with older Laravel versions though

[2016-09-01 08:57] smijo149 opened #50 "Fatal error: Class 'Config' not found (Behat\Testwork\Call\Exception\FatalThrowableError)"
It just doesn't work with Laravel 5.3 :-/

[2016-09-01 10:57] praditha commented on #8
@andizzle
I try to use your solution, but currently I'm using Laravel 5.2 which doesn't have `Illuminate\Foundation\Testing\ApplicationTrait` to use the `call()` function.
Any idea for this..?

[2016-09-01 11:05] andizzle commented on #8
@praditha It maybe even easier to do this in 5.2. There's a trait `Illuminate\Foundation\Testing\Concerns\MakesHttpRequests` which should allow you to make all kinds of requests.

But I haven't tested this yet. Please do let me know whether this works or not.

[2016-09-01 11:10] praditha commented on #8
@andizzle Yes, I've tried it, but no luck.
There is an error like this:
`Notice: Undefined property: FeatureContext::$app in vendor/laravel/framework/src/Illuminate/Foundation/Testing/Concerns/MakesHttpRequests.php line 504`

I've tried to setup the `$app` like in `TestCase` class
`$app = require __DIR__.'/../../bootstrap/app.php';
$app->make(Illuminate\Contracts\Console\Kernel::class)->bootstrap(

[2016-09-01 11:23] andizzle commented on #8
@praditha I'll give it a try over the weekend. In the mean time give this a try in `FeatureContext.php`:

[code]

This works in L5.0.

[2016-09-01 21:18] eriksape commented on #8
in 5.1 this works in the FeatureContext.php

[code]

[2016-09-01 23:08] alnutile commented on #8
I tend to do what @andizzle did but really want to try what @eriksape did

[2016-09-01 23:11] alnutile commented on #50
I use it here in 5.3
https://github.com/alnutile/codeship-behat/blob/master/composer.json

See if you can get ideas from that code base.

Also there is an article with it https://github.com/alnutile/codeship-writings/blob/master/behat.md

Maybe it will help

[2016-09-01 23:14] alnutile commented on #31
going to close this feel free to reopen if needed.

Not sure unless someone brings it up agains if it is worth me trying it in 5.0

I soon will tests running for each version 5.1 and higher

[2016-09-01 23:14] #31 closed

[2016-09-01 23:15] alnutile commented on #42
Closing for now feel free to open again of needed

[2016-09-01 23:15] #42 closed

[2016-09-01 23:17] alnutile commented on #28
Feel free to open again if needed

[2016-09-01 23:17] #28 closed

[2016-09-01 23:17] alnutile commented on #27
going to close this feel free to reopen if needed.

[2016-09-01 23:17] #27 closed

[2016-09-01 23:18] alnutile commented on #23
Updated docs going to close this feel free to reopen if needed.

[2016-09-01 23:18] #23 closed

[2016-09-01 23:18] alnutile commented on #22
going to close this feel free to reopen if needed.

[2016-09-01 23:18] #22 closed

[2016-09-01 23:19] alnutile commented on #12
@bcat-eu thanks!

going to close this feel free to reopen if needed.

[2016-09-01 23:19] #12 closed

[2016-09-01 23:20] alnutile commented on #10
going to close this feel free to reopen if needed.

[2016-09-01 23:20] #10 closed

[2016-09-01 23:20] alnutile commented on #11
going to close this feel free to reopen if needed.

[2016-09-02 03:45] praditha commented on #8
@andizzle I've tried it, and there is another error
`Notice: Undefined property: FeatureContext::$baseUrl in vendor/laravel/framework/src/Illuminate/Foundation/Testing/Concerns/MakesHttpRequests.php line 594`

@eriksape It's not working on `Laravel 5.2`, it shows an error:
`Call to undefined method Behat\MinkExtension\Context\MinkContext::setup()`
As on the tutorial, I extends `MinkContext` to `Fe

[2016-09-02 07:40] praditha commented on #8
Ah finally I can solved it on `Laravel 5.2`.

I use the @andizzle solutions with adding some code to register the `$baseUrl`, here is a piece of code.

[code]

[2016-09-10 10:39] alnutile commented on #50
going to close this feel free to reopen if needed.

[2016-09-10 10:39] #50 closed

[2016-09-10 10:56] alnutile commented on #30
Looking into this this weekend will report back later Sunday

[2016-09-10 18:50] alnutile commented on #30
@lukeberry99 what if I just pull the work you did into here and make the directions clear on how to setup Lumen over Laravel but one library?

Here is an example https://github.com/laracasts/Behat-Laravel-Extension/tree/issue-7

[2016-09-11 21:18] alnutile opened #52 "Cipher issue"
Had an problem with APP_KEY not getting passed to here

vendor/laravel/framework/src/Illuminate/Encryption/Encrypter.php:37

Need to make sure it is not regression in my behat library

![screenshot 2016-09-11 17 15 53](https://cloud.githubusercontent.com/assets/365385/18420585/be8f35a6-7843-11e6-9cc6-6c4129026992.png)

My fix for now was to add

[code]

env_path: .env
instead of leaving it comment

[2016-09-12 23:59] alnutile commented on #52
phew just me not reading the install docs :(
Basically I wanted to not have a .env.behat file but never uncommented the

[code]

[2016-09-12 23:59] #52 closed

[2016-09-13 15:34] geoidesic opened #53 "Doesn't work with Laravel v5.1.43"
Laravel base installation... nothing modified. Literally just added this library and it gives the error:

`Whoops, looks like something went wrong.`

[2016-09-13 15:43] geoidesic commented on #53
Lies, all lies. It's fine. The error was due to the Laravel .env file not being set up correctly.

[2016-09-13 15:45] #53 closed

[2016-09-14 10:20] tpraxl opened #55 "Broken forms – values filled in from former scenarios"
I have been researching this for some hours now and I'm stuck. I'm working with laravel 5.3. Other specs are listed below.

Calling `$this->visit(route('customer.add'))` returns cached page content, which is very bad when you try to test UI behavior for missing mandatory fields.

This is true for scenarios as well as outlines (example tables for scenarios).  The second scenario dumps page content

[2016-09-15 02:51] g0ld3lux opened #56 "cURL error 6: Could not resolve host: http (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) (GuzzleHttp\Exception\ConnectException)"
I tried Installing it on Laravel 5.3
here is my composer.json file
[code]
And Im Just Testing Mail Trap

[code]

and It Always Throw me this error
[code]

Can Anyone Tag me the Real Fix for this ? So I can just have it merge on my End...
Thanks

[2016-09-15 03:15] g0ld3lux commented on #33
I tried to implement this fix , but i get this...
error

[code]

[2016-09-15 03:25] g0ld3lux commented on #33
Finally i fixed this error , has nothing to do with the fix but with my version of php7
the fix is this

[code]

[2016-09-20 10:08] tpraxl commented on #55
Well.. sorry for the complicated description above. I decided to provide a simple project that shows the problem and proves at least one of the errors.

You can find the project here: https://github.com/tpraxl/laracasts-behat-bug-example

Setup and confirmation of the bug is easy:

## Setup
- Clone the project.
- Run `cp .env.example .env` (copies example dotenv to `.env`)
- Run `php artisan key:g

[2016-09-20 15:22] karlomikus commented on #55
Testing on my Homestead environment everything works fine:

[code]

Note that I changed last scenario step to `And I fill in "email" with ""` otherwise the step `Then I should see "The email field is required."` wouldn't pass.

[2016-09-20 15:39] tpraxl commented on #55
Thanks for looking into this!

However, I'm sorry, this is a misleading error in my test.
It shouldn't say "The email field is required" at the end. It should say "The first name field is required". The email field is supposed to be filled in. Your change to "" was not intended.

Also: my test fails one step before yours. It fails on "And I should be on "/plain-form", because this is exactly what

[2016-09-20 15:43] tpraxl commented on #55
@karlomikus I updated the project on  https://github.com/tpraxl/laracasts-behat-bug-example
Note that this test is supposed to fail, in order to show the bug. Thanks for looking into it.

[2016-09-20 16:20] karlomikus commented on #55
Yeah, I see the problem, maybe it's because of browserkit driver or something, I'll look into it more, but for now you can use:

[code]

to restart the session completly.

[2016-09-20 16:25] tpraxl commented on #55
Thanks for your hint. Great! I'll try that asap.

BTW: Originally, I had this problem even between scenarios (one scenario fills in, another scenario has to deal with filled in forms), however, the example project didn't reproduce this error, so it must have another cause.

Thanks @karlomikus !

[2016-09-22 16:24] tpraxl commented on #55
Sorry for the delay. I tried your approach and it works.
Changed the failing scenario to

[code]

and implemented

[code]

Thanks for the hint. It isn't really a solution of this issue, but at least a workaround for the time being.

[2016-09-26 22:19] kscheirer commented on #56
the error is "could not resolve host" - do you have a base_url setting in behat.yml?

[2016-10-01 22:08] alnutile commented on #56
darn 17 days @g0ld3lux sorry for the delay.

Did you have all your settings for **mailtrap**?  From the looks of it you might be missing that. If you do not get the error without that `fetchInbox` then I would assume it is related to a setting there.
The docs [https://github.com/laracasts/Behat-Laravel-Extension#service-mailtrap](https://github.com/laracasts/Behat-Laravel-Extension#service-mailtra

[2016-10-01 22:12] alnutile commented on #55
@tpraxl in the mean time I merge in that PR from before that might help with the Cache::flush after the scenario

[2016-10-01 22:16] alnutile opened #58 "SnippetAcceptingContext seems to be Depreciated"
[code]

Need to update docs and review the status of this

[2016-10-04 10:54] smarques commented on #56
I have the same problem. See
https://github.com/laracasts/Behat-Laravel-Extension/pull/39

This pull request fixes the problem.

[2016-10-23 23:54] alnutile commented on #56
I think #51 just fixed this
Reopen if not thanks and sorry for delay

[2016-10-23 23:54] #56 closed

[2016-10-23 23:56] alnutile commented on #8
Is there a PR for this?

[2016-10-25 17:07] alnutile commented on #33
wow seems odd. I wonder if setting curl not to verify the cert would help.

[2016-11-05 16:13] thecodingwhale commented on #8
Just to confirm I also experience the same issue reported by @doug7410 regarding of switching on/off the @javascript.

For now I will try your suggestion @alnutile just to make it work in my local machine, Thanks.

[2016-11-25 11:17] Harrisonbro opened #62 "CSRF token empty when using this extension"
We're trying to use this extension to test our application but are finding that then CRSF tokens put into forms with `csrf_field ()` are empty. When using the application normally through a web browser the tokens are included in the form and work correctly. However, when running a Behat test and dumping the page output I can see that we just get `<input name="_token" type="hidden">` (i.e. it conta

[2016-12-11 12:58] alnutile commented on #62
16 days later @Harrisonbro sorry for the delay.

I tried a few scenarios to get a sense of the error.

Here are the 4 results

csrf token before and after a form entry with the `@javascript` tag

https://github.com/alnutile/recipes/blob/master/tests/fixtures/login_page_javascript_before_fail.txt

https://github.com/alnutile/recipes/blob/master/tests/fixtures/login_page_javascript_after_fail.txt

a

[2016-12-16 11:41] Harrisonbro commented on #62
No problem, @alnutile!

Yes, the example outputs you linked to do indeed show the `_token` inputs as expected. The issue I'm finding is that the token inputs are output with no `value` — i.e. they are _just_ `<input name="_token" type="hidden" />`, not `<input name="_token" type="hidden" value="E1Rc16To..." />` as you have in your outputs.

As I said, when I use a browser manually the token inputs

[2016-12-31 01:20] edmundluong commented on #8
+1 ran into this problem today while using Selenium and Behat. Hopefully there will be a PR for this but I will give one of the solutions in this thread a shot.

@alnutile Were you ever able to get this working on Laravel 5.3+?

[2017-01-18 18:36] grEvenX commented on #8
@koenvu Did you manage to sort your issues with inserting to database in Background? We're facing the same issue, migration and transaction is run after, so won't work correctly :(

[2017-01-30 21:31] timbroder commented on #45
@alnutile if this discussion is still open I'd be interested in helping

[2017-01-31 00:28] alnutile commented on #45
sure thing @timbroder feel free to help. Ideally first step is we have travis build and testing but right now I do not have that level of permission @JeffreyWay seems the last permission level you granted me still did not give me full admin rights to this repo. Not sure why.

@timbroder once I have that I will give you full access until then I will merge your PR asap but overall ideally we would h

[2017-02-02 15:58] alnutile commented on #8
@edmundluong did you tru @artaaa solution

[2017-02-22 17:43] sepehr commented on #8
Frankly, I can't see how can having Laravel to do the request can help here. It's totally irrelevant. The whole point of using Selenium is to enable the tests to exercise applications implemented in Javascript. What if your front is implemented with Vue?

When not using a browser simulator, there's just one instance of Laravel running that uses the `.env.behat` file. But when using a Javascript se

[2017-02-23 15:42] alnutile commented on #8
I am trying to learn from how dusk does it to see if we can then, as it
does, spin up a test server that matches the env of the running behat and
share in those features eg transactions, etc.
Btw we test JavaScript apps all the time one thing we do there is to make
simple endpoints to hit before and after the scenario to setup the state of
the app ad needed.
I can write more about that later.
On W

[2017-02-23 16:52] sepehr commented on #8
Frankly, I can't see how having Laravel to do the request can help here. It's totally irrelevant. The whole point of using Selenium is to enable the tests to exercise applications implemented in Javascript. What if your front is implemented with Vue?

When not using a browser simulator, there's just one instance of Laravel running that uses the `.env.behat` file. But when using a Javascript sessio

[2017-02-23 21:47] sepehr commented on #8
And here it is:
https://github.com/sepehr/behat-laravel-js

Seems to be a solution for all the problems I was facing; the readme file goes through them all.

As I was in middle of a project and needed to use the traits, I just wrote a separate package instead of submitting a pull request. If you think it could be a good fit for this package, I'll be more than willing to submit a pull request.

[2017-04-16 08:19] zairl23 commented on #44
@zagorkakomljanovic , i face the same issue, could you tell me how to fix the problem?

[2017-05-13 11:25] osman-mohamad opened #65 "Twitter API with socialite login test fails (Route Not Found Exception)"
hi
I am writes feature tests with behat , mink and laravel . to auto authenticate laravel user with twitter api .
when I run the feature scenario . I get
[code]
this is my feature test
[code]
and this the failing step definition
[code]
next is the error page screen shot

![screencapture-file](https://cloud.githubusercontent.com/assets/27130539/26025032/c432fd1c-37e7-11e7-99e1-96ab3e46ad83.png)

wh

[2017-05-13 14:38] alnutile commented on #65
are you sure those are GET related routes? Or POST?

I would assume either

1) there is a setting that is switching between your .env and your .env.behat if you have that in place

2) the routes are not using the Method you are expecting, with Behat this defaults to GET

??

[2017-05-14 07:58] osman-mohamad commented on #65
yes I am sure

---
this is my behat settings
[code]

and those are the related routes definitions
[code]
and this is the route method i use to get user access token from twitter
[code]

#### I know it is not problem with my application . because it is working manually

by the way I used selenium as work around this . but it is not the best choice for testing some thing like this .

----
**In your

[2017-05-14 19:39] osman-mohamad commented on #8
@sepehr can you make pull request to this package . because the new package features integrate between laravel and behat plus javascript .

thank you

[2017-05-14 21:32] sepehr commented on #8
Sure @osman-mohamad; Actually, it's a long overdue task in my contribution todo list. Will adapt the code to the extension and do a pull request as soon as I find some free time.

Meanwhile, you can install it as a separate package alongside with behat-laravel-extension.

[2017-05-27 08:08] elahe7 opened #66 "How to use ipv4 in guzzlehttp/guzzle": "^6.2"
`exception 'GuzzleHttp\Exception\ConnectException' with message 'cURL error 7: Failed to connect to -----ipv6-------- Network is unreachable (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)`

How do I use ipv4 guzzle 6.2?
How is the default for all connections ipv4?

[2017-05-31 00:59] alnutile commented on #66
what is the context of the error?

[2017-05-31 16:39] ElaheSoleimani commented on #66
exception 'GuzzleHttp\Exception\ConnectException' with message 'cURL error 7: Failed to connect to -----ipv6-------- Network is unreachable (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2017-06-01 09:18] alnutile commented on #66
Yes but when does it happen? How can I recreate it?

[2017-06-01 09:19] alnutile commented on #66
What Operating System are you on btw

[2017-06-16 08:05] lisfox1 opened #67 "UploadedFile is invalid"
Hi,
I am not sure if this is a right place to ask about it but when trying to test file upload I am getting an validation failure when `Illuminate\Validation\Validator::validateAttribute` is called.
I have an FormRequest with rules as follow:

[code]

I traced the problem to the `Symfony\Component\HttpFoundation\File\UploadedFile::isValid` function which return false. It class have an option to se

[2017-06-28 20:33] alnutile commented on #67
can you try not using the facade to do the test setting. I think this example might help https://github.com/alnutile/recipes/blob/master/features/bootstrap/ProfileImageDomainContext.php

[2017-06-28 20:33] #66 closed

[2017-07-14 19:02] hackel opened #68 "Remove dependency on behat/mink-browserkit-driver"
I don't want to use Browserkit, I want to use Laravel Dusk to test browser interaction.  It would be great if this package did not rely on Mink at all.

[2017-07-18 18:17] alnutile commented on #68
ah nice idea. I also started https://github.com/alnutile/pickle to try and get the best of Gherkin and Dusk

[2017-09-18 19:58] OAFCROB opened #69 "Configuration issues"
How do you config this package in Laravel 5.5 with the latest versions of Behat & Mink?

My behat.yml config is as follows after watching the Laracast video. I've updated the extensions to match what they appear to be in the relevant vendor folders.

[code]

However, when I run behat it appears to crash out with no logging and just gives me the scenario. If I remove the `APP_KEY` from my config th

[2017-09-18 21:51] alnutile commented on #69
Can you paste in here your .env and .env.behat
Just remove any real credentials and replace with fake values leaving the keys.

[2017-09-19 18:40] OAFCROB commented on #69
As you can see it's pretty much the default .env still

[code]

[code]

[2017-09-21 21:23] OAFCROB commented on #69
Done a little bit more digging and I'm now getting the following error `[InvalidArgumentException]
  Session "laravel" is not registered.` If I have time over the weekend I'll investigate it further

[2017-09-26 18:49] OAFCROB commented on #69
Resolved for Laravel 5.5
[code]

[2017-09-26 18:49] #69 closed

[2017-09-29 07:53] happyDemon commented on #67
@alnutile @laracasts @JeffreyWay  I'm having the same problem, I'm dumping what isValid is parsing
it gets parsed 2 times during the request for some reason.

1st time: test flag is set to true, error = 0 (fine, it should pass)
2nd time: test flag is set to false (?), error = 0. Ends with the error message 'The file "iLean.pdf" was not uploaded due to an unknown error.'

[code]

[code]

[2017-09-29 08:17] lisfox1 commented on #67
I never actually managed to fix this problem. What I found out is that the test flag is not preserved when the request is created and send. When the request is being created it is recreating a file object but its not preserving the test flag.

[2017-10-10 08:25] happyDemon commented on #67
Allright, so I've found the bottleneck.

There's a `Illuminate\Http\Concerns\InteractsWithInput` trait, this is used to build the input data that gets validated in form requests.

This happens in `convertUploadedFiles(array $files)`.

It loops over the files and creates a new `UploadedFile`, ignoring the $testing private property.

I've overwritten it in the form request that was giving me trouble

[2017-10-11 08:41] alnutile commented on #67
@happyDemon is this a patch you want to sumbit for me to roll in?

[2017-10-11 12:36] alnutile commented on #69
Should the readme be updated?

[2017-10-11 13:19] OAFCROB commented on #69
No I don't think, so it's the Laracast video that is out of date. Maybe removing the laracast video or putting a warning message near it would help.

[2017-11-01 23:59] catharsisjelly opened #70 "Behat only running 1st Scenario"
Hi there,

I'm using this to begin to test an API that I am working on. My `.feature` has several Scenarios in but Behat is only running the first one for some reason. Would you have any clue as to why?

My behat.yml file
[code]

Let me know if you need any more info.

[2017-11-02 17:22] catharsisjelly commented on #70
Hey,

Just thought I would say that I resolved this today, the reason it was happening is because I had Behat had no idea where MinkContext was since none of Contexts was extending them. Fix was as follows

[code]

[2017-11-02 17:22] #70 closed

[2018-01-15 01:56] devmsh opened #72 "Laravel 5.5 no longer works"
Can anyone help in resolving that problem?

the `MinkExtenstion` seems to be updated and the package no longer works

I currently use
[code]

But once I added the laravel related estenstion
[code]

the following error appear when I run the features test

[code]

Any help?

[2018-01-18 16:57] joelcollyer commented on #72
I encountered the exact same problem.

This worked for me:
`composer require --dev symfony/dependency-injection:"3.*"`
and then
`composer update`

Fix was found here:
https://github.com/Behat/Behat/issues/1108#issuecomment-353200794

[2018-01-21 14:56] omordach commented on #72
I had the same issue. Downgrading symfony/dependency-injection (v4.0.3 => v3.4.3)  solved this problem for me.
@joelcollyer thanks.

[2018-01-21 15:09] #72 closed

[2018-03-20 16:16] ecornelisse opened #74 "Accessing the Application"
Hoe can i access the laravel `Application` from inside a context? Also my sessions+cookies are not cleared between tests while i have this in my `@beforeScenario`

[code]

[2018-03-20 16:33] alnutile commented on #74
"between tests" to help with this I just hit logout after the test using the hooks behat has

otherwise not sure I have not tried it before this way

[2018-03-20 16:35] alnutile opened #75 "Project looking for maintainer"
@here once again this project is looking for someone.

I have moved on to Dusk and https://github.com/alnutile/pickle

Sorry behat was a great tool for me before Dusk but now that I have access to Dusk the speeds are just too good to resist.

Contact me here if you can take this over, I will ask @JeffreyWay  to help if need to alter permissions.

[2018-03-22 15:45] ecornelisse commented on #27
@alnutile  i followed your steps to enable @ javascript but now the response content is empty in my context file when i run a scenario with @javascript. Any idea how to fix that?

[2018-03-28 13:31] ecornelisse opened #76 "Applkcation state not refreshed between scenarios"
The application instance is not refreshed and so singleton services are being reused during different scenarios. This can be a problem if the singelton has some for of state. How can i refresh the application completely on each scenario?

[2018-03-29 09:26] ecornelisse commented on #76
you are stating in the readme:

[code]

But i guess that's not a complete refresh of the laravel Application?

[2018-03-29 11:01] ecornelisse commented on #76
i think i found the problem. The reboot is only being done if the Context if instanceoff KernelAwareContext. Since i use multiple context files that no longer works because the last context file is of a different type. Maybe i can create a pull request with support for multiple context files

[2018-05-02 12:14] amenk opened #77 "Support Mail testing without MailTrap"
It would be nice to be able to test mails without relying on an external service.
Maybe MAIL_DRIVER=log could be used?

[2018-05-02 12:41] amenk commented on #77
Also using mailcatcher.me might be an option. There is a docker https://hub.docker.com/r/tophfr/mailcatcher/ Image and we could easily use it in our CI setup.

[2018-05-02 14:17] amenk commented on #77
I made a small proof of concept for MailCatcher
https://github.com/iMi-digital/Behat-Laravel-Extension/commit/c8ad67d56e90c0d2006387e1c35b4a5306dc2032

[2018-05-03 18:20] em110622 commented on #72
I had same issue - the downgrading of symfony/dependency-injection (v4.0.9 => v3.4.9) solved this problem for me!

[2018-05-19 23:35] ubs commented on #72
Same issue....  Updating (_or should I say downgrading_) symfony/dependency-injection (v4.0.9 => v3.4.9) solved it for me also.

[2018-05-20 00:22] ubs commented on #36
Thanks @ameech that worked for me too.

`$: php artisan key:generate --show`

The command above should generate the key, then you can copy and paste in your .env.behat file APP_KEY.

[2018-06-02 13:40] chriscornford opened #78 "Not compatible with Laravel 5.6"
Getting the following error

[code]

Similar to #72, it won't work with Laravel 5.6 as it now pulls in Symfony 4 components and has a requirement for `symfony/dependency-injection (^4.1)` meaning downgrading to `symfony/dependency-injection:"3.*"` will no longer work.

[2018-06-03 07:26] ebrahimdunro opened #79 ".env.behat is read but variables aren't accessable"
My laravel version = 5.4
and my composer.json:
`"barryvdh/laravel-ide-helper": "^2.3",

        "behat/behat": "^3.4",

        "behat/mink": "^1.7",

        "behat/mink-extension": "^2.3",

        "fzaninotto/faker": "~1.4",

        "laracasts/behat-laravel-extension": "^1.1",`

I removed APP_ENV from .env and set APP_ENV=behat in .env.behat
When I echo environment:
echo app()->environment()

[2018-06-03 07:31] ebrahimdunro commented on #79
and my behat.yml

`default:

  suites:

    something:

      paths:

        - %paths.base%/tests/Features/Something

      contexts:

        - Tests\Features\Something\Contexts\SomethingContext

  extensions:

    Laracasts\Behat:

      env_path: .env.behat`

[2018-06-07 10:32] cnastasi commented on #78
The same here. Just installed Laravel 5.6 and Behat Extension, but it fails when I run:

`vendor/bin/behat --init ` giving the error described by @chriscornford

Trying to install `symfony/dependency-injection:"3.*"` raise an error due ^4.1 requirement.

Any Idea?

[2018-07-12 15:58] philtweir commented on #78
Think I may have this working using flaxandteal/Behat-Laravel-Extension@6fb801694365cdccd6cb3721e4abda7549e9aa97 - however, I am not familiar with Symfony DI so, as indicated in Behat/Behat#1108, I would be keen to get feedback from someone more knowledgeable about it before tidying for PR.

Nonetheless, combining this with flaxandteal/Behat@8f9c9d9a4dc857bc3d7437bd4ea27d3e2b2297d7 I have been abl

[2018-07-24 10:09] programarivm opened #80 "Can't install the dependencies on a Laravel 5.6 project"
When pulling the dependencies through Composer:

    composer require behat/behat behat/mink behat/mink-extension laracasts/behat-laravel-extension symfony/dependency-injection:"3.*" --dev

I got the output:

    Using version ^3.4 for behat/behat
    Using version ^1.7 for behat/mink
    Using version ^2.3 for behat/mink-extension
    Using version ^1.1 for laracasts/behat-laravel-extension
    .

[2018-07-28 09:13] philtweir commented on #80
At the moment, I think you'd need to use [these changes](https://github.com/laracasts/Behat-Laravel-Extension/issues/78#issuecomment-404562380) (or something similar) to get L5.6 deps working right with Behat. I have been doing so for a couple weeks now, and it seems fine.

However, until Behat/Behat#1163 is merged, you would also need to use the flaxandteal/Behat branch referenced there for Behat

[2018-07-28 10:22] ghost commented on #80
Thank you @philtweir! I finally managed to set up Behat for L5.6 without the extension. My Behat tests can interact with the database using Capsule as explained [here](https://jenssegers.com/53/using-eloquent-without-laravel).

[2018-07-28 10:53] ghost commented on #80
Btw, here is a basic example on how to use Behat for L5.6 with Capsule :)

[code]

[2018-08-03 02:29] titopixelfusion commented on #78
I'm facing the same issue

[2018-08-07 03:31] edumueller commented on #78
@philtweir Thanks! That worked!
For anyone else having this problem recently: make sure you apply the changes from each of the links mentioned by @philtweir, you will have to change two files: BehatExtension.php and HelperContainerExtension.php

Cheers!

[2018-08-07 09:10] philtweir commented on #80
Cool! That's a really nice option, especially as I can see it often being a better match than the spinning up all the non-DB utils - may take a look at the approach in general for some of our needs. Just as an update for those who have slightly more specific reqs (e.g. our team's API testing plugin), laracasts/Behat-Laravel-Extension#81 should address the underlying bug.

[2018-08-07 09:13] philtweir commented on #78
Thanks for the feedback @edumueller ! As the upstream bugfix has now been merged (Behat/Behat#1163) and it seems this works for others OK, I've PR'd the above in #81

[2018-10-08 09:31] jopicornell commented on #78
How did you get this to work? I've added to composer the repository to [flaxandteal/Behat-Laravel-Extension](https://github.com/flaxandteal/Behat-Laravel-Extension) and tried with dev-master and dev-bug/78-not-compatible-with-laravel-56 but I should put also `"symfony/dependency-injection": "^4.1"` as a composer require-dev. Is that correct?

[2018-10-08 12:49] philtweir commented on #78
That should work - IIRC, symfony/dependency-injection will be pulled in from 4.x by Laravel automatically, so explicitly adding the 3.x requirement was essentially to avoid the breaking change (that should no longer be breaking).

Did you still have the same error message as at the start of this thread after pulling in dev-master Behat and dev-bug/78-not-compatible-with-laravel-56 from flaxandteal

[2018-10-25 08:23] sshamsudheen commented on #44
I am facing the same problem.. any solution?

[2018-10-30 12:15] jcornide commented on #75
It would be great if someone could keep mantaining the project. Now it doesn't work with the new laravel versions and its just a matter of merging some prs created by others users

[2018-10-31 10:57] alnutile opened #82 "Looking for someone to take over this library"
Sorry everyone but I moved away from Behat a couple years ago due to Dusk and other things.

I would like to have someone take this over since.

Just post your name here and I, or the fact the post is here, will talk to @JeffreyWay about it.

Thanks
Al

[2018-11-13 02:04] emilianotisato commented on #82
@alnutile I can take care if you want.

[2018-11-20 10:04] phpdeveloper200288 opened #83 "Not working with Laravel 5.7 with below dependency"
Installed Dependencies

    "require": {
        "php": "^7.1.3",
        "fideloper/proxy": "^4.0",
        "laravel/framework": "5.7.*",
        "laravel/tinker": "^1.0"
    },
    "require-dev": {
        "behat/behat": "^3.4",
        "behat/mink": "^1.7",
        "behat/mink-extension": "^2.3",
        "beyondcode/laravel-dump-server": "^1.0",
        "filp/whoops": "^2.0",
        "fzaninott

[2018-11-21 13:19] emilianotisato commented on #82
@alnutile Any update on this?

[2018-12-13 23:16] emilianotisato commented on #82
@alnutile Alferd, sorry to bother you... Any update on this decision?

Just to let you know, we have 2 big production project using this package so we have the compromise to maintain it or if you abandon this we'll fork our own... just let us know please.

Emiliano

[2019-02-05 21:13] loichu commented on #44
I ran into this issue and the problem was simply that I put `behat.yml` in the wrong directory. It's quite dumb but as always, make sure that all your files are in the good directory.

[2019-03-22 11:57] tentacode opened #84 "Behat dependency injection is not working, replaced by Laravel's DI"
Hello there ! Just a little thing that bugs me, you can't use Behat's own dependency injection system (it's not documented a lot so not a lot of person are using it here :

* [http://www.tentacode.net/behat-dependency-injection-phpdi](http://www.tentacode.net/behat-dependency-injection-phpdi)
* [https://github.com/Behat/Behat/pull/974](https://github.com/Behat/Behat/pull/974)

So, for example, thi

[2019-05-21 09:52] S33G commented on #30
Just ran into the same issue. Any progress here?

[2019-07-24 17:21] JamesHesterJr commented on #82
What is the status on this?

[2019-09-30 12:10] versedi commented on #8
How this is supposed to work? It only makes sure your env.behat will be used but the transactions still won't be visible for browser's sessions since it's a new php process.

Does it use same database?
Yes

Can it access data seeded in test preStep/preScenario/preFeature and rolledback on after*
No.

Edit: All right, It requires Database Migration so this is a big no,no if you are working on DB si

[2019-10-09 13:36] Krlinhos opened #85 ".env.behat not overwrite default .env values"
Hello,

I have a project with a .env file and other .env.behat The problem is when I run the tests the values for variables are .env values instead of .env.behat I have realized that if I have a variable in .env.behat and not in .env this value is as expected, but if I have the variable in both files, the value always is from .env file

behat.yml:
`
default:
  extensions:
    Laracasts\Behat:

[2020-07-14 09:08] yogesh668 opened #87 "Askmeoffers"
We help online shoppers to get coupons, deals and offers for all online shopping websites in India and All over the world at one place.
You can call us Coupon & Deals aggregators. We have become a one stop free shop to get all latest, working and genuine coupon codes, promo deals and discount offers
Get Offers here - https://askmeoffers.com/

[2020-08-22 20:40] bnd170 opened #88 "Move FeatureContext to another path"
I cannot find the way to move the FeatureContext or remove from default configuration.

Its any way to do that?

[2020-09-01 09:37] Patrick-DIJ commented on #82
@emilianotisato @alnutile ? This library is in desperate need of maintenance because it uses DEPRECATED classes...

If you would like to use this library with symfony ^4.3 or Laravel ^7.x, DONT.

src/Driver/KernelDriver.php Uses Symfony\Component\HttpKernel\Client but it is deprecated.

/**
 * Client simulates a browser and makes requests to an HttpKernel instance.
 *
 * @method Request  getReques

[2020-09-02 10:35] alnutile commented on #82
Sorry everyone just seeing these now.
I do not think I can transfer ownership due to how the repo was shared with
me. Let me forward this to my new email and then get back to you and others
after work today.

[2020-09-07 10:56] alnutile commented on #82
@emilianotisato I added you but again I do not have full access rights to this repo otherwise I would hand it over. If you need more access send another message here and I will keep an eye out for it

[2020-09-07 12:23] emilianotisato commented on #82
@alnutile Sorry, I also nos using behat anymore :(

[2020-09-22 20:00] bakome commented on #84
Easy quick fix is to add __toString method in service that is injected. That will avoid substr error. Ex.

`    public function __toString(): string
    {
        return self::class;
    }`

[2020-09-29 01:38] grantjanecek commented on #82
@JeffreyWay @alnutile like to start using this in my new laravel 8 app. If you give me permissions I'll see what I can do.

[2020-10-03 12:44] MWL91 opened #89 "Not working with laravel 8"
This is not working with new version of Laravel.
Also behat/mink-extension doesn't work with new symfony kernel.

I found solution for that, and used friends-of-behat/symfony-extension, but then this library returns me with

[code]

How I can resolve this problem?

[2020-10-04 14:41] MWL91 commented on #89
Solution for that was quitely easy, you just need to change class `use Symfony\Component\HttpKernel\Client;` into `use Symfony\Component\HttpKernel\HttpKernelBrowser as Client;`.

To do that, overwrite KernelDriver class using composer.

In composer add this:

[code]

And create file `behat-overwrite/KernelDriver.php` with contents below:

[code]

It will works then fine :)

[2020-10-04 17:59] MWL91 commented on #89
I've created Pull Request #90 for that.
If you want you can try also user my fork adding

[code]

and dev-require `"laracasts/behat-laravel-extension": "dev-master as 1.1.1"`

[2021-02-12 01:42] Evoke-PHP commented on #89
In the "require-dev" section of composer.json I found that I also needed to add the following:

"friends-of-behat/mink-browserkit-driver": "dev-master as 1.3.4",
"friends-of-behat/mink-extension":  "dev-master as 2.3.1",

[2021-02-12 06:45] MWL91 commented on #89
Yes, but you dont need to do that If you are not using mink :)

[2021-03-27 19:39] simonschaufi commented on #45
Hi everyone. I see that some people were interested in further development of this package but since 2017 nothing happened. Right now it would be a big help if at least this PR could get merged and released: https://github.com/laracasts/Behat-Laravel-Extension/pull/90

[2021-03-27 19:46] simonschaufi commented on #82
@alnutile Can you please merge #90 and then tag a new release? That would be awesome!

[2021-07-16 08:59] CocoJr commented on #76
Got the same problem. To fix that, I have a context extending `MinkContext`. I have implement the `KernelAwareContext` and use the trait `App`:

[code]

Put your context at the end of the list in the behat configuration file.

[2021-08-11 20:13] darin-sai commented on #85
I'm encountering this as well.

As a temporary workaround I'm running `php artisan config:cache --env=behat` prior to running `vendor/bin/behat`